@charset "utf-8";

@import "tailwindcss";
@import "./fonts.css";

/* global variables */
:root {
  --base-blue: #002B5C;

  --title-font: 'Futura';
  --body-font: 'Proxima Nova';
}

body {
  background-color: var(--base-blue);
  color: white;
  font-family: var(--body-font);

  &>img {
    margin: 50px auto;
    max-height: 584px;
    max-width: 900px;
    width: 100%;
  }
}

h1 {
  font-family: var(--title-font);
}