<!DOCTYPE html>

<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.meta-tags | join: ', ' }}">
    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    
    <meta property="og:image" content="/assets/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ site.title }}">

    <link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/dist.css?cb={{ 'now' | date: "%s" }}">

    <script src="https://kit.fontawesome.com/1c2374fc76.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="">
      <img alt="Cleveland Office Movers logo"
        class="max-w-9/10 lg:max-w-[900px]"
        {% twoxify "/assets/img/logo.png" %} />
      <a class="text-[2.5rem] md:text-[3.8rem] lg:text-[6rem]" href="tel:4406551100">(440) - 655 - 1100</a>

      <ul class="columns-1 lg:columns-3 gap-0">
        {% for section in page.sections %}
        <li>
          <a href="#{{ section.id }}">
            <p class="title">{{ section.title }}</p>
            <p>{{ section.headline }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </header>

    <nav class="sticky top-0 shadow-xl/50 h-[200px] sm:h-[150px] lg:h-[200px]">
      <div class="sm:flex sm:gap-0 lg:gap-0 w-full lg:w-[80%]">
        <div class="m-auto sm:w-1/2">
          <img alt="Cleveland Office Movers logo"
            class="max-h-[100px] lg:max-h-[150px] m-auto"
            {% twoxify "/assets/img/logo-white.jpg" %} />
        </div>
        <div class="text-center mt-[10px] w-[100%] sm:text-left sm:mt-[0] sm:w-1/2 text-[1rem] lg:text-[1.5rem]">
          <p class="title hidden sm:inline text-[2rem] lg:text-[3rem]"><strong>Get in touch</strong></p>
          <p><i class="fa-solid fa-phone"></i> <a href="tel:4406551100">(440) - 655 - 1100</a></p>
          <p><i class="fa-solid fa-envelope"></i> <a href="mailto:bryan@clevelandofficemovers.com">bryan@clevelandofficemovers.com</a></p>
        </div>
      </div>
    </nav>

    {% for section in page.sections %}
    <section class="lg:flex {% cycle 'lg:flex-row', 'lg:flex-row-reverse' %}">
      <div class="align-text-middle lg:w-1/2 h-full">
        <h2 id="{{ section.id }}">{{ section.title }}</h2>
        {{ section.body }}
      </div>
      <img class="lg:w-1/2" {% twoxify section.image %} />
    </section>
    {% endfor %}

    <footer class="mb-[20px]">
      <div class="w-full sm:w-[80%] sm:flex sm:gap-0 lg:w-[75%]">
        <div class="sm:w-2/3 lg:w-1/2">
          <p>Copyright © 2025 Cleveland Office Movers</p>
          <p><i class="fa-solid fa-phone"></i> <a href="tel:4406551100">(440) - 655 - 1100</a></p>
          <p><i class="fa-solid fa-envelope"></i> <a href="mailto:bryan@clevelandofficemovers.com">bryan@clevelandofficemovers.com</a></p>
          <p>Designed by <a href="https://pettazz.com" target="_blank">pettazz</a></p>
        </div>
        <div class="sm:w-1/3 lg:w-1/2">
          <img alt="Cleveland Office Movers logo"
            class="m-auto"
            {% twoxify "/assets/img/logo-xsmwhite.jpg" %} />
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>